<?php
/**
 * @vendor    cms
 * @theme     cms_test
 * @author    Olegs Jakovlevs <olegs.jakovlevs.jp@scandiweb.com>
 * @copyright Copyright (c) 2019 Scandiweb, Inc (https://scandiweb.com)
 * @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 * Price block file
 */
?>

<?php /** @var \Magento\Framework\Pricing\Render\Amount $block */ ?>

<span class="price-container <?= /* @escapeNotVerified */
$block->getAdjustmentCssClasses() ?>"
        <?= $block->getSchema() ? ' itemprop="offers" itemscope itemtype="http://schema.org/Offer"' : '' ?>>
    <?php if ($block->getDisplayLabel()): ?>
        <span class="price-label"><?= /* @escapeNotVerified */
            $block->getDisplayLabel() ?></span>
    <?php endif; ?>
    <span <?php if ($block->getPriceId()): ?> id="<?= /* @escapeNotVerified */
    $block->getPriceId() ?>"<?php endif; ?>
        <?= ($block->getPriceDisplayLabel()) ? 'data-label="' . $block->getPriceDisplayLabel() . $block->getPriceDisplayInclExclTaxes() . '"' : '' ?>
        data-price-amount="<?= /* @escapeNotVerified */
        $block->getDisplayValue() ?>"
        data-price-type="<?= /* @escapeNotVerified */
        $block->getPriceType() ?>"
        class="price-wrapper <?= /* @escapeNotVerified */
        $block->getPriceWrapperCss() ?>">
    <?php if ($block->getDisplayValue() - floor($block->getDisplayValue()) > 0) {
        echo $block->formatCurrency($block->getDisplayValue(), (bool)$block->getIncludeContainer(), 2);
    } else {
        echo $block->formatCurrency($block->getDisplayValue(), (bool)$block->getIncludeContainer(), 0);
    }; ?>
    </span>
    <?php if ($block->hasAdjustmentsHtml()): ?>
        <?= $block->getAdjustmentsHtml() ?>
    <?php endif; ?>
    <?php if ($block->getSchema()): ?>
        <meta itemprop="price" content="<?= /* @escapeNotVerified */
        $block->getDisplayValue() ?>"/>
        <meta itemprop="priceCurrency" content="<?= /* @escapeNotVerified */
        $block->getDisplayCurrencyCode() ?>"/>
    <?php endif; ?>
</span>
