//@vendor cms
//@theme cms_test
//@author Olegs Jakovlevs <olegs.jakovlevs.jp@scandiweb.com>
//@copyright Copyright (c) 2019 Scandiweb, Inc (https://scandiweb.com)
//@license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)

//breakpoint mixins
//mixin for small phones
@mixin for-small-phones-only {
    @media (max-width: $small-phones-only) {
        @content
    }
}

//mixin for phone and larger screen size
@mixin for-phones-up {
    @media (min-width: $phones) {
        @content;
    }
}

//mixin for tablet, portrait and larger screen size
@mixin for-tablet-portrait-up {
    @media (min-width: $tablet-portrait) {
        @content;
    }
}

//mixin for tablet, landscape and larger screen size
@mixin for-tablet-landscape-up {
    @media (min-width: $tablet-landscape) {
        @content;
    }
}

//mixin for small desktops and larger screen sizes
@mixin for-small-desktop-up {
    @media (min-width: $small-desktop) {
        @content;
    }
}

//mixin for desktop and larger screen size
@mixin for-desktop-up {
    @media (min-width: $desktop) {
        @content;
    }
}
