//@vendor cms
//@theme cms_test
//@author Olegs Jakovlevs <olegs.jakovlevs.jp@scandiweb.com>
//@copyright Copyright (c) 2019 Scandiweb, Inc (https://scandiweb.com)
//@license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)

//Related product styles
.product-slider {
    padding: 10px;

    .stock-element {
        color: #89B045;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .dots {
        font-size: 10px;
        padding-right: 5px;
        padding-top: 2px;
    }

    .price {
        color: #B3B3B3;
    }

    .product-item-link {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 14px;
        color: #373b42;
        font-family: $basic-font;
        font-weight: 700;
    }

    .headline-container {
        text-align: center;

        .related-product-heading {
            color: #625F70;
            font-size: 30px;
            font-weight: normal;
        }
    }

    li {
        text-align: center;
    }

    .product-item-info {
        width: 300px;
        border: solid 1px #E2E2E2;
        margin: auto;

        @include for-small-phones-only {
            width: 200px;
        }

        @include for-tablet-portrait-up {
            width: 250px;
        }

        &:hover {
            margin-right: auto;
            margin-left: auto;
        }
    }

    .product-item-details {
        padding-bottom: 30px;
        padding-left: 30px;

        @include for-small-phones-only {
            padding-left: 0;
            text-align: center;
        }
    }

    .slick-slide {
        padding: 15px;
        display: flex;
    }

    .slick-dots {
        li {
            button {
                box-shadow: none;

                &:before {
                    font-size: 10px;
                }
            }
        }
    }

    .product-image-container {
        width: 100% !important;
    }

    .product-image-photo {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .product-item {
        .price-box {
            margin: 5px 0 5px;
            font-size: 15px;
        }

        .price {
            font-size: 18px;
            letter-spacing: -1px;
            line-height: 14px;
            color: #999999;
            font-family: $basic-font;
            font-weight: 700;
        }
    }

    button {
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 40px;
        font-weight: normal;
        color: #625F70;
        box-shadow: none;
    }

    .slide-arrow {
        position: absolute;
        top: 50%;
        margin-top: -15px;
    }

    .prev-arrow {
        left: -35px;
        width: 80px;
        height: 80px;
        background-image: url("/pub/static/frontend/cms/test/en_US/mage/gallery/gallery.png");
        background-position: -80px -80px;

        @include for-phones-up {
            left: -20px;
        }

        @include for-small-desktop-up {
            left: -40px;
        }
    }

    .next-arrow {
        right: -40px;
        width: 80px;
        height: 80px;
        background-image: url("/pub/static/frontend/cms/test/en_US/mage/gallery/gallery.png");
        background-position: -160px -80px;

        @include for-phones-up {
            right: -25px;
        }

        @include for-small-desktop-up {
            right: -45px;
        }
    }
}

.invisible {
    display: none;
}

.products-grid {
    .product-item {
        margin-left: 0;
    }
}

.column.main {
    .product-item {
        padding-left: 20px;
        text-align: justify;
    }
}
