//@vendor cms
//@theme cms_test
//@author Olegs Jakovlevs <olegs.jakovlevs.jp@scandiweb.com>
//@copyright Copyright (c) 2019 Scandiweb, Inc (https://scandiweb.com)
//@license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)

//color variables
$headline-color: #2c2f46;
$main-information-color: #85b73c;
$basic-text-color: #85878f;
$coupon-block-text-color: #425069;

//breakpoint variables
$small-phones-only: 450px;
$phones: 600px;
$tablet-portrait: 760px;
$tablet-landscape: 900px;
$small-desktop: 1024px;
$desktop: 1040px;

//font variables
$basic-font: "Open Sans";
