//@vendor cms
//@theme cms_test
//@author Olegs Jakovlevs <olegs.jakovlevs.jp@scandiweb.com>
//@copyright Copyright (c) 2019 Scandiweb, Inc (https://scandiweb.com)
//@license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)

//variables
@import "variables.scss";

//mixins
@import "mixins.scss";

//related product styles
@import "related.scss";

// classes
.cms-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 24px;
    padding-right: 24px;

    h3 {
        color: $headline-color;
        font-weight: 700;
        font-size: 17px;
        font-family: $basic-font;

        @include for-desktop-up {
            text-align: left;
        }
    }

    div {
        text-align: center;
    }

    p {
        color: $basic-text-color;
        font-weight: 400;
        font-size: 14px;
        font-family: $basic-font;
        text-align: justify;
    }

    a {
        text-decoration: underline;
    }

    .coupon-icon {
        max-height: none;
        max-width: none;
        height: 44px;
        width: 44px;
    }

    .paragraph-image {
        width: auto;
        max-width: inherit;

        @include for-tablet-portrait-up {
            padding-right: 38px;
            padding-top: 36px;
            min-height: 220px;
            width: 220px;
        }
    }

    .special-headline {
        color: #257fb7;
        font-weight: 400;
        font-size: 17px;
        font-family: $basic-font;
        line-height: 22px;
    }

    .check {
        font-weight: bold;
        color: green;
        font-size: 17px;
    }

    .coupon-element-vertical {
        @include for-desktop-up {
            width: 40%;

            div {
                text-align: left;
            }

            .coupon-1 {
                img {
                    padding: 20px 30px 10px 19px;
                }
            }

            .coupon-2 {
                img {
                    padding: 20px 25px 10px 19px;
                }
            }
        }
    }

    .coupon-element-horizontal {
        @include for-tablet-portrait-up {
            text-align: left;

            .coupon-1 {
                padding-right: 20px;
            }
        }

        @include for-desktop-up {
            width: 60%;

            h3 {
                text-align: center;
            }

            p {
                margin-top: -10px;
            }

            h3 {
                margin-top: -1px;
            }

            div {
                padding-top: 15px;
            }

            .coupon-1 {
                padding-left: 60px;
                padding-right: 20px;

                h3 {
                    padding-left: 5px;
                }

                img {
                    padding-left: 25px;
                }

                label {
                    padding-left: 5px;
                }
            }

            .coupon-2 {
                padding-right: 75px;
            }
        }
    }

    .row {
        @include for-tablet-portrait-up {
            display: flex;
            flex-direction: row;
        }
    }

    .column {
        @include for-tablet-portrait-up {
            display: flex;
            flex-direction: column;
        }
    }

    .main-block {
        @include for-tablet-portrait-up {
            padding-top: 20px;
        }

        p {
            color: $main-information-color;
            font-weight: 300;
            font-size: 21px;
            font-family: $basic-font;
            line-height: 39px;

            @include for-desktop-up {
                padding-right: 25px;
                margin-left: -10px;
            }
        }

        hr {
            width: 50px;
            margin-right: 30px;
        }
    }

    .courier-delivery-block {
        @include for-desktop-up {
            padding-top: 18px;
        }

        h3 {
            line-height: 22px;
        }

        p {
            line-height: 26px;

            @include for-tablet-portrait-up {
                padding-top: 6px;
                padding-bottom: 12px;
                padding-right: 37px;
            }
        }
    }

    .local-delivery-block {
        @include for-desktop-up {
            padding-top: 6px;
        }

        ul {
            @include for-desktop-up {
                margin-left: 8px;
                padding-top: 3px;
            }

            li {
                text-align: justify;
                line-height: 19px;
                font-size: 14px;
                color: $basic-text-color;
                font-weight: 700;
                list-style-type: circle;
            }
        }

        h3 {
            line-height: 22px;
        }

        p {
            padding-top: 8px;
            padding-bottom: 18px;
            line-height: 26px;
        }
    }

    .coupon-block {
        @include for-desktop-up {
            padding-top: 15px;
            padding-right: 65px;
            margin-top: -14px;
        }

        h3 {
            line-height: 14px;
            color: $coupon-block-text-color;
            font-size: 14px;
            font-family: $basic-font;
            text-transform: uppercase;
        }

        label {
            color: $coupon-block-text-color;
            font-size: 13px;
            font-weight: 500;
            font-family: $basic-font;
            line-height: 19px;
        }
    }

    .half-column-block {
        @include for-desktop-up {
            padding-top: 25px;
        }

        div {
            @include for-tablet-portrait-up {
                padding-right: 40px;
            }

            @include for-desktop-up {
                padding-right: 65px;
            }
        }

        p {
            line-height: 26px;
            padding-top: 9px;

            @include for-tablet-portrait-up {
                padding-bottom: 8px;
            }
        }
    }

    .paragraph-block {
        @include for-desktop-up {
            padding-top: 11px;

            p {
                padding-top: 9px;
                line-height: 24px;
            }
        }
    }

    .table-block {
        overflow: auto;
        max-width: 100%;

        @include for-desktop-up {
            padding-top: 39px;
            overflow-x: auto;

            table tr td:first-child {
                text-align: justify;
                width: 18.5%;
            }

            table tr td:nth-child(2) {
                width: 31.5%;
            }

            table tr td:nth-child(3) {
                width: 25.5%;
            }

            table tr td:nth-child(4) {
                width: 24.5%;
            }
        }

        table {
            font-family: $basic-font;
            line-height: 22px;
            color: #2c2f46;

            tr td {
                border: solid black 0.5px;
                vertical-align: middle;

                @include for-tablet-portrait-up {
                    padding: 21px 25px 21px 25px
                }
            }

            thead {
                td {
                    font-weight: 700;
                    background-color: #F6F7FB;

                    @include for-desktop-up {
                        padding: 16px;
                    }
                }
            }
        }
    }
}
